.landing-page {
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  background-color: #FFFFFF; /* bright white */
  color: #000000; /* black for text contrast */
}

.header {
    border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #282c34;
  color: #FFFFFF; /* bright white */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.company-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.main-content {
  margin: 20px 0;
}

.cta-button {
  background-color: #FF0000; /* bright red */
  color: #FFFFFF; /* bright white */
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #FF4D4D; /* lighter shade of bright red */
}

.footer {
  margin-top: 20px;
  font-size: 0.9rem;
}
